.incre-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: .5rem;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;

    .qty-add{
        border: 2px solid blue;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}