.cart-container{

    position: fixed;
    right:1rem;
  background-color: rgb(41, 41, 41);
    z-index: 3;
    max-height: 400px;
    padding: 1rem;
     width: 350px;
color: white;
overflow: hidden;
overflow-y: scroll;



    .cart-btn-box{
        position:sticky;
        height: 100px;
        left: 0;
        
        right: 0;
        bottom: -1rem;
        background-color: rgb(41, 41, 41);

 
    
    }
}
